{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{renderNavigation}">
	<nav{attributes -> f:format.raw()}>
		<ul class="menu-sidebar menu-sidebar-document">
			<li class="menu-sidebar-header">Navigate within this page</li>
			<f:render section="itemsList" arguments="{items: items}" />
		</ul>
	</nav>
</f:if>

<f:section name="itemsList">
	<f:for each="{items}" as="item">
		<li>
			<a href="#">{item.label}</a>
			<f:if condition="{item.subItems}">
				<ul>
					<f:render section="itemsList" arguments="{items: item.subItems}" />
				</ul>
			</f:if>
		</li>
	</f:for>
</f:section>